<header>
  <mat-toolbar color="primary">
    <div class="header-container flex-row-container">
      <div class="mat-title header__title">Календарь</div>
      <div class="select-container">
        <div>
          <select [formControl]="yearsControl">
            <option *ngFor="let year of allYears" [ngValue]="year">
              {{ year }}
            </option>
          </select>
        </div>
        <div>
          <button mat-raised-button (click)="prevMonth()">+</button>
        </div>
        <div>
          <select [formControl]="monthControl">
            <option *ngFor="let month of allMonth; let i = index" [ngValue]="i">
              {{ allMonth[i][0] }}
            </option>
          </select>
        </div>
        <div>
          <button mat-raised-button (click)="nextMonth()">-</button>
        </div>
      </div>
      <!-- <div class="mat-body-1">
          <div>Мы выбрали год: {{ yearsControl.value }}</div>

          <div>Мы выбрали месяц: {{ allMonth[monthControl.value][0] }}</div>

          <div>Мы выбрали день: {{ selectedDate$ | async }}</div>
        </div> -->
      <span class="title-date"
        >{{ allMonth[monthControl.value][0] }} {{ yearsControl.value }}</span
      >
      <button
        mat-raised-button
        color="accent"
        class="block-events__buttons"
        (click)="open()"
      >
        Добавить событие
      </button>
    </div>
  </mat-toolbar>
</header>

<main>
  <div class="left__main-block">
    <div class="flex-column-container calendar-title">
      <mat-grid-list cols="7" rows="1" rowHeight="30px">
        <mat-grid-tile
          *ngFor="let day of allDays; let i = index"
          [ngValue]="i"
          >{{ day }}</mat-grid-tile
        >
      </mat-grid-list>
    </div>
    <div class="flex-column-container calendar-main">
      <mat-grid-list class="calendar" cols="7" rowHeight="fit">
        <mat-grid-tile
          *ngFor="let day of dayInMonth$ | async; let i = index"
          (click)="
            setDay(
              i +
                1 -
                getBeginningDayOfMonth(yearsControl.value, monthControl.value)
            )
          "
          class="calendar__card"
          [ngValue]="i"
          ><div class="flex-row-container">
            <div class="calendar__card-title">
              <span
                *ngIf="
                  i >
                  dayInMonth[monthControl.value] +
                    getBeginningDayOfMonth(
                      yearsControl.value,
                      monthControl.value
                    ) -
                    1
                "
              ></span>
              <span
                *ngIf="
                  getBeginningDayOfMonth(
                    yearsControl.value,
                    monthControl.value
                  ) > i
                "
              ></span>
              <span
                *ngIf="
                  getBeginningDayOfMonth(
                    yearsControl.value,
                    monthControl.value
                  ) <= i &&
                  i <
                    dayInMonth[monthControl.value] +
                      getBeginningDayOfMonth(
                        yearsControl.value,
                        monthControl.value
                      )
                "
                ><h2
                  class="mat-h2"
                  [title]="
                    i +
                    1 -
                    getBeginningDayOfMonth(
                      yearsControl.value,
                      monthControl.value
                    ) +
                    ' ' +
                    allMonth[monthControl.value][1] +
                    ' ' +
                    yearsControl.value +
                    ' год'
                  "
                >
                  {{
                    i +
                      1 -
                      getBeginningDayOfMonth(
                        yearsControl.value,
                        monthControl.value
                      )
                  }}
                </h2>
              </span>
            </div>
            <div class="calendar__card-events">
              <p
                class="event-text"
                title="Клик для удаления события"
                (click)="remove(event.id)"
                *ngFor="
                  let event of (events$ | async)[
                    '' +
                      (i +
                        1 -
                        getBeginningDayOfMonth(
                          yearsControl.value,
                          monthControl.value
                        )) +
                      '.' +
                      monthControl.value +
                      '.' +
                      yearsControl.value
                  ]
                "
              >
                {{ event.text }}
              </p>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div class="right__main-block">
    <div
      *ngFor="let event of draftEvents$ | async; let i = index"
      (click)="open(event)"
    >
      {{ event | json }}
    </div>
  </div>
</main>
