button {
  margin: 10px;
}
.calendar {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  > div {
    width: 97px;
    height: 120px;
    margin: 1px;
    border: 1px solid black;
  }
  > .there-is-an-event {
    border: 3px solid #3b91f8;
  }
}


